

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

*{
   margin: 0;
   padding: 0;
   border: none;
}

body{
   font-family: Cinzel, sans-serif;
   font-weight: 300;
   color: black ;
}



h1, h2{
   font-family: Cinzel, sans-serif;;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: black;
}

.active{
   border-bottom: 2.5px solid rgb(226, 212, 129);
}


#logo{
   font-family: Cinzel, sans-serif;
   color: black;
   float: center;
   font-size: 3rem;
   letter-spacing: 30px;
   text-align: center;
   text-decoration: none;
   
}

#header a{
   text-decoration: none;
}

#menu{

   font-family: Cinzel, sans-serif;
   color: black;
   font-size: 110%;
   letter-spacing: 4px;
   text-align: center;
   padding-bottom: 3%;
}


#menu li {

   display: inline;
   text-decoration: none;
   margin-right: 24px;  
}


#menu a {
text-decoration: none;
color: inherit;
}

#menu a:hover{
border-bottom: 5px solid rgb(226, 212, 129);
}



footer {
   padding-top: 3%;
   font-family: Cinzel, sans-serif;
   color: black;
   font-size: 175%;
   letter-spacing: 8px;
   text-align: center;
   text-decoration: none;
   /* background-color: rgba(135,206,250,.7); */
 
}

footer a {
   text-decoration: none;
   /* border-bottom: 5px solid rgba(135,206,250,.7); */

}

footer a :hover{

   background-color: 3px solid rgb(226, 212, 129);

}

.bottom-tag{
   font-family: Cinzel, sans-serif;
   text-align: center;
   margin: 20px, 0;
   font-size: 60%;
}

   


/* SIGN UP PAGE */

.form-section {
   
   clear: left;
   background: url("../images/hamsa.webp");
   
   background-size: cover;
   background-position: center;
   height: 1000px;
}

.signup-form {
   margin: 150px 10% 0 0;
   color: #fff;
   background-color: rgba(16, 168, 234, 87%);
   max-width: 400px;
   position: absolute;
   left: 10%;
   padding: 30px;
   
}




.signup-form > h2 {
   color: #fafafa;
   margin-bottom: 20px;
}





@media screen and (max-width:600px){

   .signup-form {
      /* margin: 150px 10% 0 0; */
      color: #fff;
      background-color: rgb(16 168 234 / 87%);
      max-width: 70%;
      /* position: absolute; */
      /* left: 10%; */
      padding: 30px;
      margin: 10px auto;
   }

   #logo{
       
        
      text-align: center;
      padding: 0%;
      font-size: 2rem;

  

}

}