@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

 *{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Cinzel, sans-serif;
    font-weight: 300;
    color: black ;
}



h1, h2{
    font-family: Cinzel, sans-serif;;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

.active{
    border-bottom: 2.5px solid rgb(226, 212, 129);
}


#logo{
    font-family: Cinzel, sans-serif;
    color: black;
    float: center;
    font-size: 3rem;
    letter-spacing: 30px;
    text-align: center;
    text-decoration: none;
    
}

#header a{
    text-decoration: none;
}

#menu{

    font-family: Cinzel, sans-serif;
    color: black;
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
}


#menu li {

    display: inline;
    text-decoration: none;
    margin-right: 24px;  
}


#menu a {
text-decoration: none;
color: inherit;
}

#menu a:hover{
border-bottom: 5px solid rgb(226, 212, 129);
}




 /* MAIN IMAGE STYLE */
 #main-image-outer{
    height: 420px;
    width: 100%;
    overflow: hidden;
    position: relative;


 }






footer {
    font-family: Cinzel, sans-serif;
    color: black;
    font-size: 175%;
    letter-spacing: 8px;
    text-align: center;
    text-decoration: none;
    /* background-color: rgba(135,206,250,.7); */
  
}

footer a {
    text-decoration: none;
    /* border-bottom: 5px solid rgba(135,206,250,.7); */

}

footer a :hover{

    background-color: 3px solid rgb(226, 212, 129);

}

    


/* SIGN UP PAGE */

.form-section {
    clear: left;
    background: url("../images/main.jpg");
    /* background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg"); */
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    
    background-color: rgba(16, 168, 234, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgb(226, 212, 129);
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(226, 212, 129);
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: rgb(226, 212, 129, 0.6);
}



