@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Cairo, sans-serif;
    font-weight: 300;
    color: black ;
}



h1, h2{
    font-family: Cairo, sans-serif;;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

.active{
    border-bottom: 2.5px solid rgba(135,206,250,.7);
}


#logo{
    font-family: Cairo, sans-serif;
    color: black;
    float: center;
    font-size: 280%;
    letter-spacing: 30px;
    text-align: center;
    text-decoration: none;
    
}

#header a{
    text-decoration: none;
}

#menu{

    font-family: Cairo, sans-serif;
    color: black;
    font-size: 110%;
    letter-spacing: 4px;
    /*float: center; */
    text-align: center;
}


#menu li {

    display: inline;
    text-decoration: none;
    margin-right: 24px;  
}


#menu a {
text-decoration: none;
color: inherit;
}

#menu a:hover{
border-bottom: 5px solid rgba(135,206,250,.7);
}

/* come back to this  */
#space{
    color: white;
 }



 /* MAIN IMAGE STYLE */
 #main-image-outer{
    height: 420px;
    width: 100%;
    overflow: hidden;
    position: relative;

 }

 #cover-text,#cover-text h2{
    color:white;
 }


 /* no-repeat center center doesnt work on this element dont know why */
 #main-image{
    height: 600px;
    width: 100%;
    background-image: url(../images/main.jpg) ;
     background-repeat: no-repeat; 
     margin-top: 10px;



    
 }

 #cover-text{
    font-size: 130%;
    font-family: Cairo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 300px;
    height: 200px;
    padding-top:40px;
    background-color: rgba(135,206,250,.7);


    bottom: 30px;
    left:150px;
    position: absolute;
}

