@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Cairo, sans-serif;
    font-weight: 300;
    color: black ;
}



h1, h2{
    font-family: Cairo, sans-serif;;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

.active{
    border-bottom: 2.5px solid rgba(135,206,250,.7);
}


#logo{
    font-family: Cairo, sans-serif;
    color: black;
    float: center;
    font-size: 280%;
    letter-spacing: 30px;
    text-align: center;
    text-decoration: none;
    
}

#header a{
    text-decoration: none;
}

#menu{

    font-family: Cairo, sans-serif;
    color: black;
    font-size: 110%;
    letter-spacing: 4px;
    /*float: center; */
    text-align: center;
}


#menu li {

    display: inline;
    text-decoration: none;
    margin-right: 24px;  
}


#menu a {
text-decoration: none;
color: inherit;
}

#menu a:hover{
border-bottom: 5px solid rgba(135,206,250,.7);
}

/* come back to this  */
#space{
    color: white;
 }



 /* MAIN IMAGE STYLE */
 #main-image-outer{
    height: 420px;
    width: 100%;
    overflow: hidden;
    position: relative;

 }

 #cover-text,#cover-text h2{
    color:white;
 }


 /* no-repeat center center doesnt work on this element dont know why */
 #main-image{
    height: 600px;
    width: 100%;
    background-image: url(../images/main.jpg) ;
     background-repeat: no-repeat; 
     margin-top: 10px;

    
 }

 #cover-text{
    font-size: 130%;
    font-family: Cairo, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 300px;
    height: 200px;
    padding-top:40px;
    background-color: rgba(135,206,250,.7);


    bottom: 30px;
    left:150px;
    position: absolute;
}


/* ETHOS SECTION what the site is about */

#ethos{
    height:600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float:left;
    background-color:  rgba(135,206,250,.7);
}

.left-about-heading{
    width:60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50PX;
    text-transform: uppercase;
    
}
/* this is for the sign up page */
#center-about{
    padding-top: 30px;
    width: 33%;
    height: 33%;
    margin: 0 auto;
    text-align: center;
    
    background-color: rgba(135,206,250,.7)
    
}





#sub-image{
    float: right;
    margin-right: 33%;
   
}

#welcome{
    text-align: center;
    margin: 20px, 0;
    font-size: 200%;
}

footer {
    font-family: Cairo, sans-serif;
    color: black;
    font-size: 100%;
    letter-spacing: 4px;
    text-align: center;
}

footer a {
    text-decoration: none;
}

    


/* GALLERY/PHOTOS SECTION */

#photos{
    padding: 2%;
    
}


.w3-content w3-display-container{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}
.w3-button w3-black w3-display-left{
    text-align: center;
   
  padding: 300px;

}


.w3-button w3-black w3-display-right{
    text-align: center;
   padding: 300px;
    
    

}

.mySlides{
    width:  50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* SIGN UP PAGE */

#signup-form{
    padding: 2%;
    font-family: Cairo, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    /* background-color: rgba(135,206,250,.7); */
    
   
}

label {
    letter-spacing: 3px;
    display: inline-block;
    width: 150px;
    text-align: left;
  }

  #saturday, #sunday, #both{
    
  
    margin-right: 1em; text-align : right;
  


 }



 /* RESPONSIVE STYLING */

/* 1200px */
@media screen and (max-width:1200px) {
    #ethos{
        width: 65%;
        height:1200px;
        margin:0 auto;
    }

    #welcome{
        padding: 30px 0;
        margin: 0;
    }

    #left-about{
        width: 100%;
        float: left;
        padding: 0;
    }

    #sub-image{
        width: 100%;
        float: right;
        padding: 2%;

    }
  }


  /* 900px */


@media screen and (max-width:950px){
    #menu{
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left: 0;
    }

    #ethos{
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading{
        width : inherit;
    }


    .left-about-heading h2{
        width : 100%;
        text-align: center;
    }

    .left-about-heading p{
        text-align: center;
       padding: 0 20px;
    }


    .mySlides{
        width:  95%;
        height: 95%;
        margin-left: auto;
        margin-right: auto;
    }

}