@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

.active{
    border-bottom: 2.5px solid rgba(135,206,250,.7);
}


#logo{
    font-family: Cairo, sans-serif;
    color: black;
    float: center;
    font-size: 280%;
    letter-spacing: 30px;
    text-align: center;
    text-decoration: none;
    
}

#header a{
    text-decoration: none;
}

#menu{

    font-family: Cairo, sans-serif;
    color: black;
    font-size: 110%;
    letter-spacing: 4px;
    /*float: center; */
    text-align: center;
}


#menu li {

    display: inline;
    text-decoration: none;
    margin-right: 24px;  
}


#menu a {
text-decoration: none;
color: inherit;
}

#menu a:hover{
border-bottom: 5px solid rgba(135,206,250,.7);
}